/*
 * Made by Mads Ibrahim Iversen
 */

* {}

html {}

body {
    margin: 0 auto;

}


img {}

header {}





a {}


h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 100;

}

h3 {}

p {}





/*--------------------Indholdsfortegnelse-------------------

1: LOGIN
2: FORSIDE
3: MENU
4: Materialer
5: SKEMA
6:






-------------------------------------------------------*/

header {}


#login #mobil_top {
    background-color: #EA5045;
}


#mobil_top {
    display: flex;
    background-color: #ffffff;

}


#tid_sprite {
    flex-basis: 13vw;
    width: 13vw;
    height: 3.8vw;
    background-image: url(svg/Bars-_-Time%20Black.svg);
    background-size: 100%;
    margin-right: 57vw;
    margin-left: 4vw;
}

#connection_sprite {
    flex-basis: 5vw;

    width: 4vw;
    height: 3vw;
    background-image: url(svg/Cellular%20Connection.svg);
    background-size: 100%;
}


#web_sprite {
    flex-basis: 5vw;

    width: 4vw;
    height: 3.5vw;
    background-image: url(svg/Wifi.svg);
    background-size: 100%;
    margin-left: 2vw;

}


#battery_sprite {
    flex-basis: 7vw;

    width: 6vw;
    height: 3.4vw;
    background-image: url(svg/Battery.svg);
    background-size: 100%;
    margin-left: 1vw;
}

#logo_box {
    display: flex;
    height: 50vw;
    background-color: #EA5045;
}

#logo {
    flex-basis: 35.6%;
    background-image: url(svg_menu/Group%201582.svg);
    height: 8.9vw;
    margin-left: 30vw;
    align-self: center;
}


#login-funktion {
    display: flex;
    height: 150vw;
    background-color: #FAF7F7;
    flex-direction: column;

}

#checkbox {
    display: flex;
    margin-left: 18rem;
}

.user-felt {
    border: 1px solid silver;
    border-radius: 25vw;
    margin-top: 10vw;
    margin-left: 8vw;
    width: 72.1vw;
    height: 13.4vw;
    padding-left: 10vw;
    outline: none;
}

#login_knap {
    background-image: url(svg_login/Rectangle%20132.svg);
    width: 82.1vw;
    height: 13.4vw;
    margin-top: 20vw;
    margin-left: 8vw;
    border: 0;
    background-color: #FAF7F7;



}

#facebook-knap {
    background-image: url(svg_login/Login.svg);
    width: 82.1vw;

    height: 13.4vw;
    margin-top: 10vw;
    margin-left: 8vw;
    border: 0;
    background-color: #FAF7F7;
}

#login-funktion p {
    margin-left: 3.5rem;
    font-size: 0.8rem;
}



#forside {
    background-color: #DEDCDB;

}

.forside_top {
    display: flex;
    background-color: #EA5045;
    height: 16vw;
}

.forside_logo {
    flex-basis: 20%;
    height: 5vw;
    background-image: url(svg/Group%201585.svg);
    background-size: 100%;
    margin-top: 6vw;
    margin-right: 54vw;
    margin-left: 5vw;
}

.forside_profil_knap {

    flex-basis: 5%;
    height: 5vw;
    background-image: url(svg/Profile.svg);
    background-size: 100%;
    margin-top: 6vw;
    margin-right: 6vw;
}

.forside_navigations_knap {
    flex-basis: 5%;
    height: 5vw;
    background-image: url(svg/Menu.svg);
    background-size: 100%;
    margin-top: 6vw;
    margin-left: 2vw;


}

#forside a {
    text-decoration: none;
    color: #F58E81;


}


.lille_box {
    flex-basis: 6.7rem;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#medium_box {

    flex-basis: 13.9rem;
    background-color: #ffffff;
    margin-left: 0.7rem;
    margin-top: 0.7rem;




}

.small_row {
    display: flex;
    height: 6rem;
    background-color: #DEDCDB;
    margin-right: 0.7rem;
}

#row4 {
    display: flex;
    height: auto;
    width: 100%;
}

.vertical_row {
    display: flex;
    flex-direction: column;
}

#row4 .lille_box {

    flex-basis: 5.5rem;
    background-color: #ffffff;
    width: 6.6rem;
}


#stor_box {
    width: 13.8rem;
    background-color: white;
    margin: 0.8rem;
    margin-bottom: 0;
}

.last_row {
    padding-bottom: 0.6rem;
}

#medium_txt {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #F58E81;
}

#stor_txt {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #F58E81;
}

.icon_txt {
    display: flex;
    font-size: 0.6rem;
    font-weight: 700;
    color: #F58E81;



}

#menu_txt a {
    color: #F58E81;
    text-decoration: none;
}


#materialer_icon {
    background-image: url(svg/Folder.svg);
    width: 2.6rem;
    height: 2.5rem;
}

#skema_icon {
    background-image: url(svg/Calendar.svg);
    width: 2.6rem;
    height: 2.5rem;

}

#alert_icon {
    background-image: url(svg/Alert.svg);
    width: 2.5rem;
    height: 2.5rem;

}

#mail_icon {
    background-image: url(svg/Messages.svg);
    width: 2.5rem;
    height: 2.5rem;
}

#favoritter_icon {
    background-image: url(svg/Bookmark.svg);
    width: 2.5rem;
    height: 2.5rem;
}

#grupper_icon {
    background-image: url(svg/Group%201572.svg);
    width: 3.2rem;
    height: 2.2rem;

}

#chat_icon {
    background-image: url(svg/Group%201574.svg);
    width: 4.2rem;
    height: 2.8rem;
}

#search_icon {
    background-image: url(svg/Search.svg);
    width: 2.5rem;
    height: 2.5rem;
}

#afleveringer_Icon {
    background-image: url(svg/Component%205%20%E2%80%93%202.svg);
    width: 2.6em;
    height: 2.7rem;
}

.random_icon {
    background-image: url(svg/Path%20146.svg);
    width: 2.1rem;
    height: 9.1vw;
}

/*    Forsidens IKONER   */



/*    MENU  */

.sectionwrapper {
    display: flex;
    background-color: #3F3140;
    flex-direction: column;
}

#menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
}

.menu_hidden {
    display: none;
}

#menu .sectionwrapper {
    height: 100%;
}

#menu_top {
    display: flex;
    flex-basis: 27.1rem;
    align-self: center;

    margin-top: 2.3rem;

}

#menu_fortryd {
    flex-basis: 0.9rem;
    width: 0.9rem;
    background-image: url(svg_menu/No.svg);
    margin-left: 20rem;
    margin-top: 1.2rem;


}

#menu_logo {
    flex-basis: 2.5rem;
    width: 9rem;
    background-image: url(svg_menu/Group%201582.svg);
    margin-left: 6.6rem;
    margin-top: 2rem;
    background-repeat: round;
}

#menu_txt {
    flex-basis: 27.1rem;
    color: #F58E81;
    margin-bottom: 4rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    ;

}

#menu_bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: #EA847C;
}

#log_ud {
    flex-basis: 27.1rem;
    color: #FFFFFF;
    margin-left: 10rem;


}


/*   MATRIALER    */

#materialer .sectionwrapper {
    background-color: #FFFFFF;
}






#top_info {
    display: flex;
    background-color: #DEDCDB;

}


#top_info_right {
    line-height: 0.6rem;
    margin-left: 0.7rem;
    font-weight: 700;
    color: #707070;
    margin-right: 7.2rem;




}

#top_info_left {
    line-height: 0.6rem;
    font-weight: 700;
    color: #707070;
    margin-left: 5rem;


}



#dato {
    display: flex;
    flex-direction: column;
    background-color: #3F3140;

}

#dato_txt {
    color: #FFFFFF;
    line-height: 0.6rem;
    text-align: center;
}


#dato_pil {
    display: flex;
    margin-bottom: 0.5rem;
}

#dato_pil_left {

    width: 0.6rem;
    height: 0.6rem;
    background-image: url(svg_matrialer/Backward%20arrow%20small.svg);
    margin-left: 8.5rem;


}

#dato_pil_right {

    width: 0.6rem;
    height: 0.6rem;
    background-image: url(svg_matrialer/Arrow%20Small%20Right.svg);
    margin-left: 4.5rem;



}

#materiale_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;


}

#slide_intro {
    display: flex;
    background-color: #FFFFFF;
}

#intro_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    font-size: 0.8rem;
    color: #000000;

}

.pil_ned {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(svg_matrialer/Down%20arrow.svg);
    margin-left: 18.8rem;
    border: 0.3vw solid #EA847C;

}

#slide_dag {
    display: flex;
    background-color: #FFFFFF;
}

#dag_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    color: #000000;
    font-size: 0.8rem
}



#styletile {
    display: flex;
    background-color: #FFFFFF;
}

#style_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    color: #000000;
    font-size: 0.8rem
}

#vedhaft {
    width: 1.3rem;
    height: 1.2rem;
    background-image: url(svg_matrialer/Attachment.svg);
    margin-left: 18.4rem;

}

#materialer_bottom {
    display: flex;
    background-color: #3F3140;


}

#skema_ikon {
    flex-basis: 1.1rem;
    height: 1.2rem;
    background-image: url(svg_matrialer/calendar-icon.svg);
    align-self: center;

}

#skema_txt {
    flex-basis: 3.7rem;
    color: #FFFFFF;
    margin-left: 40vw;

}

#skema .sectionwrapper {
    background-color: #FFFFFF;
}


#skema_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;


}

#modul1 {
    display: flex;
    background-color: #FFFFFF;
    height: 9rem;
}

#modul1_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    font-size: 0.8rem;
    color: #000000;

}

.pil_ned {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(svg_matrialer/Down%20arrow.svg);
    margin-left: 18.8rem;
    border: 0.3vw solid #EA847C;

}

#modul2 {
    display: flex;
    background-color: #FFFFFF;
    height: 9rem;

}

#modul2_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    color: #000000;
    font-size: 0.8rem
}



#modul3 {
    display: flex;
    background-color: #FFFFFF;
    height: 9rem;

}

#modul3_txt {
    margin-left: 0.8rem;
    margin-top: 1rem;
    background-color: #F2F1F0;
    border: 0.7rem solid #F2F1F0;
    color: #000000;
    font-size: 0.8rem
}

#vedhaft {
    width: 1.3rem;
    height: 1.2rem;
    background-image: url(svg_matrialer/Attachment.svg);
    margin-left: 18.4rem;

}
